* {
  padding: 0;
}

:root {
  font-size: 62.5%;

  --ff-title: #b52184;

  --pp-paragraph: #312d64;

  --bg-primary: #1f1d42;
}

body {
  background-color: var(--bg-primary);
}

header {
  display: grid;
}

h1 {
  color: var(--ff-title);
  font-family: "Mulish", sans-serif;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

header,
p {
  text-align: center;
  font-family: "Mulish", sans-serif;

  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3.5rem;
}

.astronaut {
  width: 36.4rem;
  height: 37rem;
  background-color: var(--bg-primary);
  
}

.downarrow {
  width: 6rem;
  height: 10rem;
  margin-bottom: 9rem;
}

section {
  background-color: var(--pp-paragraph);
}

section h2 {
  color: #b52184;
  font-family: "Mulish", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

section,
p {
  color: var(--pp-paragraph);
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.balao1,
.balao2,
.balao3 {
  border-radius: 2rem;

  background-color: #1f1d42;
  box-shadow: 0px 3.3107693195343018px 13.243077278137207px 0px
    rgba(0, 0, 0, 0.25);
  width: 27rem;
  margin-bottom: 5rem;
}

.baloon {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}

.name,
.email,
.message {
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  color: white;
}

.name,
.email,
.message {
  margin-bottom: 2.5rem;
}

h1 {
  margin-bottom: 4.3rem;
}

.event-input {
  border-radius: 1.6rem;
  border: 1.5px solid #312d64;
  width: 34.8rem;
  height: 4.8rem;
  font-size: 2rem;
}

.name,
.email,
.message,
.event-input {
  display: flex;
  justify-content: center;
}

.send {
  font-family: "Mulish", sans-serif;
  font-size: 2.6rem;
  display: flex;
  align-items: center;

  height: 4.5rem;
  padding: 1.6rem;

  border-radius: 1.6rem;
  background: linear-gradient(134deg, #343193 0%, #302c63 100%);
}

button:hover {
  cursor: pointer;
  color: rgb(26, 25, 25);
}

footer {
  text-align: center;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 1.2rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* Versão desktop */

@media (min-width: 60em) {
  body {
    background-color: rgb(255, 255, 255);
   
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  header p {
    color: var(--bg-primary);
    font-family: Mulish, sans-serif;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  header h1 {
    margin-top: 30rem;
    font-size: 6.4rem;
  }

  .astronaut {
    background-color: transparent;
    width: 71rem;
    height: 73rem;
  }

  section {
    background-color: rgb(255, 255, 255);
  }

  section h2 {
    color: #fa13ad;
    font-family: "Mulish", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 4rem;
  }

  section,
  p {
    color: #000000;

    font-family: "Mulish", sans-serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .balao1,
  .balao2,
  .balao3 {
    border-radius: 2.4rem;

    background-color: #7238a1;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    width: 36rem;
    height: 44rem;
  }

  .baloon {
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
  }

  #myform,
  footer {
    width: fit-content;
    margin: 0;
    color: #000000;
  }

  
  
}
